@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: #dabb88;
    background-color: #f4f4f4;
}

 h2 {
    font-family: 'Raleway', sans-serif;
    font: #dabb88;
 }

/* Estilos do cabeçalho */
header {
    background: #fdf6ec;
    color: #dabb88;
    font-family: 'Raleway';
    font-size: 40px;
    padding: 20px;
    height: 180px;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 40px;
}

.container {
    width: 33.33%;
    margin-left: 10px; 
    margin-right: 0px;
}


.bloco-texto {
    padding: 20px;
    color : rgb(104, 104, 104);
    text-align: justify;
}


footer {
    background: #fdf6ec;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
